<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content=""ie-edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Google Tutor AI</title>
  </head>
  <body>
    <section class="main-controls">
      <div id="buttons">
        <button class="record">Record</button>
        <button class="stop">Stop</button>
      </div>
    </section>
    <section class="sound-clips">


    </section>
    <!-- <audio src="output.mp3" type="audio/mp3" controls></audio> -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>